@font-face {
    src: url("../fonts/GolosText-Regular.ttf");
    font-family: "Golos";
    font-weight: normal;
}

@font-face {
    src: url("../fonts/GolosText-Medium.ttf");
    font-family: "Golos";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/GolosText-Bold.ttf");
    font-family: "Golos";
    font-weight: bold;
}

body {
    background: #FAFAFA;
    color: #212529;
    font-size: 16px;
    font-family: "Golos", sans-serif;
}

header {
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(33, 37, 41, 0.25);
    background: rgb(255, 255, 255);
}

footer{
    box-shadow: 0 0 2px 0 rgba(33, 37, 41, 0.25);
    background: rgb(255, 255, 255);
}

.nav-link {
    color: #212529;
}

.card {
    padding: 1rem;
    max-width: 30rem;
    max-height: 45rem;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(33, 37, 41, 0.02);
    background: rgb(255, 255, 255);
    margin: 1rem 0;
    transition: all .3s ease-in-out;


    .card-img-top {
        border-radius: 3px;
        transition: all .3s ease-in-out;
    }

    &:hover {
        transform: translateY(-5px);
        transition: all .3s ease-in-out;
    }
}

.list-group-item:first-child, .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.list-group, .list-group-item {
    border: none;
    transition: all .3s ease-in-out;

    &:hover {
        cursor: pointer;
        transition: all .3s ease-in-out;
        background: rgb(241, 241, 241);
        transform: translateY(-3px);
    }
}

.btn {
    border: none;
}

.btn-success {
    border-radius: 5px;
    background: rgb(36, 183, 113);

    &:hover {
        color: #ffffff;
        background-color: rgb(36, 183, 113);
        box-shadow: 0 0 2px 0 rgba(36, 183, 113, 0.25);
        border-color: #24B771FF;
    }
}

.alert-success{
    color: #ffffff;
    background-color: #24B771FF;
    box-shadow: 0 0 2px 0 rgba(36, 183, 113, 0.25);
    border-color: #24B771FF;
}

.btn-secondary {
    border-radius: 5px;

    box-shadow: 0 0 2px 0 rgba(33, 37, 41, 0.25);
    background: rgba(33, 37, 48, 0.75);
}

.dropdown-menu.show {
    border: none;
    box-shadow: 0 0 2px 0 rgba(33, 37, 41, 0.25);
    width: 10.5rem;
    margin: 0.5rem 0 !important;
}

.dropdown-item {
    border: none;

    &:active {
        box-shadow: 0 0 2px 0 rgba(33, 37, 41, 0.25);
        color: #ffffff;
        background: #007AFFFF;
    }
}

form{
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(33, 37, 41, 0.25);
    background: rgb(255, 255, 255);
    margin: 1rem 0;
    transition: all .3s ease-in-out;
}
